@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@media (min-width: 1200px){
  .container{
      max-width: 970px;
  }
}

body {
  background: url(images/day.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#header{
  width: 550px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

#header img{
  width: 100px;
}

.row {
  display: flex;
}

#Status-bar img{
  width: 25px;
}

.progress{
  width: 250px;
}

.col{
  align-self: center;
  width: 200px;
}

.btn-lg {
  font-size: 100px;
  cursor: pointer;
  border: none;
  background-color: white;
  color: black;
}

.btn-lg:hover{
  background-color: royalblue;
  color: lightblue;
}

.slider-img {
  width: 75%;
  object-fit: cover;
}

.clock{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}
/* .slider-img img{
  width: 100px;
  height: 250px;
} */