@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@media (min-width: 1200px){
  .container{
      max-width: 970px;
  }
}

body {
  background: url('assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#header{
  width: 550px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

#header img{
  width: 100px;
}

.row {
  display: flex;
}

.playButton img{
  width: 150px;
}

#Status-bar{
  background-color: #858585;
}

#Status-bar img{
  width: 25px;
}

.progress{
  width: 250px;
}

.col{
  align-self: center;
  width: 200px;
}

.btn-lg {
  font-size: 100px;
  cursor: pointer;
  border-color: black;
  background-color: #858585;
  color: black;
}

.btn-lg:hover{
  background-color: black;
  color: white;
}

.slider-img {
  width: 75%;
  object-fit: cover;
}

.clock{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}
/* .slider-img img{
  width: 100px;
  height: 250px;
} */

.play{
  max-width: 40%;
  cursor: pointer;
  padding: auto;
  margin-top: 10px;
}

.randomName{
  max-width: 20%;
  cursor: pointer;
  padding: auto;
  margin-top: 10px;
}

.randomAvatar{
  max-width: 20%;
  cursor: pointer;
  padding: auto;
  margin-top: 10px;
}

.action .btn{
  border: 2px solid black;
  width: 100px;
  background-color: #854f2b;
  cursor: pointer;
}

.action .color{
  border-color: #477a1e;
  color: white;
}

.action .color:hover{
  background: #477a1e;
  color: white;
} 

#options {
  margin: auto;
  width: 37%;
}

.action{
  transform: translateX(-25px);
}